body {
    background-color: #202124;
}

.card {
    margin: auto;
    width: 40%;
}

.notes {
    margin: 22px 14px;
    width: 20%;
    display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
}